:root {
  --primary-color: #b88e2f;
  --font-color: #333;
  --font-color-1: #666;
  --color-gray-3: #898989;
  --color-gray-1: #3a3a3a;
  --color-gray-4: #b0b0b0;
  --color-light-bg: #f4f5f7;
  --color-light-gray: #9f9f9f;
  --color-white: #fff;
  --color-dark: #000;
  --color-red-accents: #e97171;
  --color-green-accents: #2ec1ac;
}



/* Container for the entire header */
.header-container {
  position: relative;
  text-align: center;
}

/* Logo positioning - above the header image */
.logo-container {
  position: absolute;
   top: 70px;   
  left: 50%;
  transform: translateX(-50%);
}

.logo {
  width: 70px; 
  height: auto;
}

/* Header image styling */
.header img {
  width: 100%; 
  height: 316px;
  object-fit: cover; 
  border-radius: 5px;
}

/* Center the title and breadcrumb over the header image */
.header-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  
}

.header-text h1 {
  font-size: 46px;
  margin: 0;
  font-weight: bold;
}

.header-text p {
  font-size: 1.5em;
 
}
/* Breadcrumb styling - under the title */
.breadcrumb-container {
  position: absolute;
  top: 65%; 
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.2em;
  }
  
  .breadcrumb a {
  color: black; 
  text-decoration: none;
  transition: color 0.3s ease; 
  }
  
  .breadcrumb a:hover {
  color: var(--primary-color); 
  }
  
  .breadcrumb span {
  color: black;
  }
  
  @media (max-width: 768px) {
    .header-text h1 {
      font-size: 2em; 
    }
  
    .header-text p {
      font-size: 1em; 
    }
  }
  
  @media (max-width: 400px) {
    .logo-container {
      position: absolute;
       top: 74px;   
      left: 44%;
      transform: translateX(-50%);
    }
  }